<fieldset>
  <legend>Return Shipping Labels</legend>
  <ul>
    <% @return_authorization.return_labels.each do |label| %>
      <li>
      <%= link_to "#{label.show_tracking_number} - #{distance_of_time_in_words_to_now(label.created_at)} ago", admin_order_return_authorization_return_label_path(@order, @return_authorization, label, format: :pdf) %>
      </li>
    <% end %>
  </ul>
  <br/>

  <%= form_tag generate_return_label_api_order_return_authorization_path(@order, @return_authorization), url:  generate_return_label_api_order_return_authorization_path(@order, @return_authorization), method: :post do |label_form| %>
    <%= hidden_field_tag :token, try_spree_current_user.spree_api_key %>
    <%= label_tag "Shipping Box" %>
    <%= select_tag "spree_shipping_box_id", options_from_collection_for_select(Spree::Shipping::Box.all, :id, :description) %>
    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= button_tag I18n.t('spree.generate_new_label') %>
    </div>
  <% end %>
</fieldset>
